
<form class="form-group" action="{% url 'index' %}" enctype="multipart/form-data" method="post">
				{% csrf_token %}

	<div class="form-group">
	<!--
	        <input id="id_docfile" name="docfile" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);" tabindex="-1" type="file" accept=".xlsx" required="" >
	        <div class="bootstrap-filestyle input-group"><input class="form-control " placeholder="Select file for upload..." disabled="" type="text">
	        <span class="group-span-filestyle input-group-btn" tabindex="0"><label for="id_docfile" class="btn btn-primary ">
	        <span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span> <span class="buttonText"> Choose Incident file </span></label></span>
	  -->

	  		<input id="id_docfile" name="docfile" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);" tabindex="-1" type="file" accept=".xlsx" required="" type="file" class="filestyle" data-buttonBefore="true" data-btnClass="btn-primary" data-placeholder="Select file for upload..." />
    </div>
			<p><input class="btn btn-info" type="submit"  value="Upload" name="upload">
			{% if upload_success %}
			<div class="alert alert-success alert-dismissable fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Success!</strong> <span style="font-family: 'Courier New', 'sans-serif';">{{ upload_success }}</span> uploaded.</div>
			</p>
			{% endif %}
</form>