<h1>{{ home_title }}</h1>
<hr>

	<table width="100%">
		<tr>
			<td>
				<form action="{% url 'index' %}" enctype="multipart/form-data" method="post">
				{% csrf_token %}
			     	<p>{{ form.non_field_errors }}</p>
		            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
		            <p>
		                {{ form.docfile.errors }}
		                {{ form.docfile }}
		            </p>
					<p>Incident File: <input id='id_docfile' name="docfile" required="" type="file" /></p>
					<p>
						<input type="submit" value="Upload" name="upload">
						{% if upload_success %}
							{{ upload_success }}
						{% endif %}
					</p>
				</form>
				<form action="#" method="post">
				{% csrf_token %}
					{% if all_columns %}
						<p>
							<span>Incident ID: </span>
							<select>
							{% for col_name in all_columns %}
								<option id="column{{ forloop.counter }}">{{ col_name }}</option>
							{% endfor %}
							</select>
						</p>
						<p>
							<span>Description: </span>
							<select name="description" multiple>
							{% for col_name in all_columns %}
								<option id="column{{ forloop.counter }}">{{ col_name }}</option>
							{% endfor %}
							</select>
						</p>
						<p>
						<span>Perform Action:</span>
						<select>
							<option value="single">Classify single incident</option>
							<option value="multipe">Classify whole document</option>
						</select>
						</p>
						<p>
						<input type="submit" value="Start" name="start">
						</p>
					{% endif %}
				</form>
			</td>
			<td>
				
			</td>
		</tr>
	</table>

