<h1>{{ home_title }}</h1>
<hr>
<form action="#" enctype="multipart/form-data" method="post">
	{% csrf_token %}
	<p>
	<span>Perform Action:</span>
	<select>
		<option value="single">Classify single incident</option>
		<option value="multipe">Classify whole document</option>
	</select>
	</p>
	<p>Input File: <input type="file" id="myFile" accept=".csv" /></p>
	<p><input type="submit" value="Upload"></p>
</form>


<a href ="{% url 'training' %}" >Train the Classifier</a><br />
<a href ="{% url 'categorize' %}" >Use the Classifier</a>
