<form class="form-group" action="{% url 'index' %}" method="POST">
				{% csrf_token %}
					{% if all_columns %}
						<p>
							<span>Incident ID: </span>
							<select class="form-control" name="incident_id">
							{% for col_name in all_columns %}
								{% ifequal col_name incid_col %}

									<option id="column{{ forloop.counter }}" selected="selected">{{ col_name }}</option>
								{% else %}
									<option id="column{{ forloop.counter }}">{{ col_name }}</option>
								{% endifequal %}
							{% endfor %}
							</select>
						</p>
						<p>
							<span>Description: </span>
							<select class="form-control" name="description" required="" multiple>
							{% for col_name in all_columns %}
								{% if col_name in desc_cols %}
									<option id="column{{ forloop.counter }}" selected="selected">{{ col_name }}</option>
								{% else %}
									<option id="column{{ forloop.counter }}">{{ col_name }}</option>
								{% endif %}
							{% endfor %}
							</select>
						</p>
						<p>
						<span>Perform Action:</span>
						<select class="form-control" name="perform_action">
							{% if perform_action == "single" %}	
							<option value="multiple"  >Classify whole document</option>
							<option value="single" selected="selected">Classify single incident</option>
							{% else %}							
							<option value="multiple" selected="selected" >Classify whole document</option>
							<option value="single"  >Classify single incident</option>
							{% endif %}
						</select>
						</p>
						<p>
						<input class="btn btn-success" type="submit" value="Start" name="start">
						</p>
					{% endif %}
				</form>