			<div class="col-lg-6" id="single_incident">
				{% if output_detail %}
				<form class="form-group" action="{% url 'index' %}" method="POST">
					{% csrf_token %}
					<p><b>Incident ID: </b><span style=" font-family: 'Courier New', 'sans-serif';">{{ output_detail.0.0 }}</font></p>
					<p><b>Description: </b><div style="overflow-y: auto; overflow-x: hidden;  font-family: 'Courier New', 'sans-serif'; font-size: 14px; height: 120px; " >{{ output_detail.0.1 }}</div></p>
					<p><b>Summary: </b><div name="incident_summary" style="overflow-y: auto; overflow-x: hidden;  font-family: 'Courier New', 'sans-serif'; font-size: 14px; height: 90px; "  contenteditable >{{ output_detail.0.2 }}</div></p>
					<p><b>Predictions: </b></p>
					<table width="100%">
						{% for label, prob in predictions %}
							
							<tr>
								<td width="50%">
									<label name="predicted_label">{{ label }}</label>
								</td>
								<td width="100%">
									<label name="probability">{{ prob }}%</label>
								</td>
								<td>
									<input class="btn btn-default" type="submit" name="accept" value="Accept"  id=accept_"{{ forloop.counter }}" />
								</td>
							</tr>
							
						{% endfor %}
					</table>
					<span class="step-links">
						<div>
							<ul class="pagination justify-content-center">
								{% if output_detail.has_previous %}
									<li class="page-item" >
										<a class="page-link" href="?page={{ output_detail.previous_page_number }}">
											<!--<span aria-hidden="true"></span>
							        		<span class="sr-only">Previous</span>-->
							        		&laquo;&nbsp;Previous
										</a>
									</li>
								{% endif %}
								<!--<span class="current">-->
									<li class="page-item active"><a class="page-link" href="#">Page {{ output_detail.number }} of {{ output_detail.paginator.num_pages }} </a></li>
								<!--</span>-->
								{% if output_detail.has_next %}
									<li class="page-item">
										<a class="page-link" href="?page={{ output_detail.next_page_number }} ">
											<!--<span aria-hidden="true">&raquo;</span>
							        		<span class="sr-only">Next</span>-->
							        		Next&nbsp;&raquo;
										</a>
									</li>
								{% endif %}
								</ul>
						</div>
					</span>
				</form>
				{% endif %}
			</div>